<h1>Gonna see if the MIT Weather Machine is working!</h1>
<h2>Hopefully this will also be a good occasion to have a reliable starting point should I mess anything up down the line</h2>
<h3>Bootstrap was installed</h3>
<br />
<br />
<h6>This webpage is a work of satire. Its author and content have no affiliation with the Massachusetts Institute of Technology</h6>